* {
  margin: 0;
  box-sizing: border-box;
}
@font-face { 
  font-family: "digital"; 
  src: url("DS-DIGIT.TTF"); 
}
body {
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222;
  color: white;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(27, 36, 74);
  padding: 3rem;
  border-radius: 20px;
}
h1 {
  margin-bottom: 4rem;
  font-size: 2.5rem;
}
h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
}
.semaforo {
  display: flex;
  gap: 4rem;
}
.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.display-num {
  font-family: 'digital';
  font-size: 4rem;
  background-color: rgb(8, 0, 1);
  padding: 0.5rem 1rem;
  color: red;
  margin-block: 1rem;
  width: 100%;
  text-align: right;
}
.verde {
  color: rgb(0, 255, 0);
}
.rojo {
  color: rgb(255, 0, 0);
}
.amarillo {
  color: rgb(255, 255, 0);
}
.btn-puntos {
  cursor: pointer;
  font-family: 'digital';
  font-size: 1rem;
  background-color: transparent;
  border: 1px rgb(152, 165, 192) solid;
  border-radius: 5px;
  color: rgb(152, 165, 192);
  min-width: 20px;
  min-height: 20px;
  aspect-ratio: 1;
  margin-inline: 0.1rem;
  padding-inline: 0.5rem;
}
.btn-start {
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px rgb(152, 165, 192) solid;
  border-radius: 5px;
  color: rgb(152, 165, 192);
  margin-top: 4rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}